@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

html,
body,
ul,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E3E3E3;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #484848;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    border-bottom: 1px solid silver;
}

.left-header,
.right-header {
    display: flex;
    align-items: center;
}

.logo-image h2 {
    font-family: 'Rubik Iso', cursive;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    padding: 2em;
}

.products {
    display: flex;
    column-gap: 2em;
    padding: 2em;
}

.product-content a,
.single-product a {
    display: inline-block;
    border: 1px solid silver;
    border-radius: .5em;
    padding: 1em;
}

.single-product {
    padding: 4em;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 3em;
}