@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

html,
body,
ul,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E3E3E3;
    color: #484848;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    border-bottom: 1px solid silver;
}

.left-header,
.right-header {
    display: flex;
    align-items: center;
}

.left-header ul,
.right-header ul {
    display: flex;
}

.logo-image h2 {
    font-family: 'Rubik Iso', cursive;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    padding: 1em;
}

.products {
    display: flex;
    column-gap: 2em;
    padding: 2em;
}

.products > .column {
    width: 25%;
}

.product-content a,
.single-product a {
    display: inline-block;
    border: 1px solid silver;
    border-radius: .5em;
    padding: 1em;
}

.single-product {
    padding: 4em;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 3em;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

.cart {
    padding: 4em;
}

.cart h1 {
    text-align: center;
}

hr {
    border: none;
    background-color: silver;
    height: 1px;
}

/* Login CSS */
.form {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}